body{
    font-family: serif;
    background-color: grey;
}

.audio-symbol {
    color: white;
    font-size: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

header {
    width: 100%;
    text-align: center;
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Century Gothic', 'Times New Roman', Times, serif;
    color: #262207;
}

h1, h3 {
    margin: 10px;
    font-family: 'Century Gothic', 'Times New Roman', Times, serif !important;
    color: #262207;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 17px;
}

.main {
    position: relative;
    height: 405px;
    width: 720px;
    margin: auto;
    margin-bottom: 20px;
    background-image: url(https://78.media.tumblr.com/ba3f2c68c65ecca84afb4fd8623e314e/tumblr_nt8u4mLNug1tah9pwo2_1280.png);
    color: white;
    text-shadow: 3px 3px 3px #edbe27;
}

.you {
    width: 135px;
}

.enemy {
    width: 200px;
}

.knight {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 100px;
    text-align: left;
    margin: 15px;
}

.sorceress {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 100px;
    text-align: right;
    margin: 15px;
}

.small {
    margin: auto;
    border: 17px dotted #262207;
    text-align: center;
    width: 250px;
    padding: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.top-right p {
    font-size: 9px;
    margin-top: 0px;
}

a {
    color: #262207;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    cursor: pointer;
    color: #ff1616;
}

img {
    width: 100%;
    text-align: center;
    z-index: 1;
}


progress {
    width: 100px;
    background-color: #fc5630 !important;
}

progress::-webkit-progress-value {
    background-color: #fc5630 !important;
}

.action .icon {
    font-size: 75px;
}

.counter :hover {
    color: #b1ea21;
}

#fHealthDisplay{
    margin-left: 53px;
    margin-top: 0;
}

#sHealthDisplay{
    margin-right: 40px;
    margin-top: 0;
}

#instructionButton{
    width: 90px;
}

#insButtonContainer{
    margin: 10px auto 10px auto;
    width: 90px;
    padding-left: 200px;
}

span{
    font-weight: bold;
}

button:active{
    font-weight: bold;
    background-color: #fff;
    
}

img{
    position: relative;
}