html, body {
    font-family: serif;
    background-color: grey;

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

.whatever {

    height: 60px;
    width: 300px;

    overflow-y: auto;
    
}

.splash {
    width: 100%;
    height: 100%;
    
    display: flex;

    background-image: url("https://www.dropbox.com/s/vymb5rxe55yshb3/A%20Game%20of%20Magic%20Splash.jpg?dl=1");
    background-size: cover;

    justify-content: center;
    align-items: center;
}

.gameboard {
    display: none;
}


.splash .start-game {
    color: #f5f5f5;
    font-size: 32px;

    height: 50px;

    margin-top: 150px;
}

.splash .start-game:not([disabled="disabled"]):hover {
    text-shadow: 0px 0px 87px #f5f5f5;
}

.audio-symbol {
    color: white;
    font-size: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Century Gothic', 'Times New Roman', Times, serif;
    color: #262207;
}

h1, h3, .whatever {
    margin: 10px;
    font-family: 'Century Gothic', 'Times New Roman', Times, serif !important;
    color: #262207;
}

h1 {
    font-size: 20px;
}

h3, .whatever {
    font-size: 9px;
}

.main {
    position: relative;
    width: 720px;
    height: 405px;
    margin: auto;
    margin-bottom: 20px;
    background-image: url(https://orig00.deviantart.net/c32a/f/2018/265/b/d/game_background3_by_kungfoowiz-dcniswj.jpg);
    color: white;
    text-shadow: 3px 3px 3px #edbe27;
}

.you {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 100px;
    text-align: left;
    margin: 15px;
}

.you--avatar {
    width: 100px;
}

.enemy {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 100px;
    text-align: right;
    margin: 15px;
}

.enemy--avatar {
    width: 100px;
}

.small {
    margin: auto;
    border: 9px solid #262207;
    text-align: center;
    width: 450px;
    padding: 10px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.top-right p {
    font-size: 9px;
    margin-top: 0px;

    color: #f5f5f5;
}

.top-right a {
    color: #f5f5f5;
}

a {
    color: #262207;
    text-decoration: none;
    font-style: italic;
}

    a:hover {
        cursor: pointer;
        color: #ff1616;
    }

img {
    width: 100%;
    text-align: center;
    z-index: 1;
}


progress {
    width: 100px;
    background-color: #fc5630;
}

    progress::-webkit-progress-value {
        background-color: #fc5630;
    }

.action, .game-action {
    color: #262207;
    background: transparent;
    border: none;
    outline: none;
    position: relative;

    font-family: sans-serif;
}

.action .icon, .game-action .icon {
    margin-top: 10px;

    font-size: 20px;
}

/*.action:active, .action[disabled="disabled"]:active {
    background: transparent;
    border: none;
    outline: none;
}*/

.attack:not([disabled="disabled"]) :hover {
    color: #ff1616;
}

.counter:not([disabled="disabled"]) :hover {
    color: #b1ea21;
}

.restore:not([disabled="disabled"]) :hover {
    color: #b22730;
}

.castholybladespell:not([disabled="disabled"]) :hover {
    color: #ffffaf;
}

.restartgame :hover {
    color: #e1f00b;
}

span {
    font-weight: bold;
}

img {
    position: relative;
}

.tooltip {
    top: -150px;
    position: absolute;
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-weight: normal;
    padding: 5px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.6s;
}

.action:hover .tooltip, .game-action:hover .tooltip {
    visibility: visible;
    opacity: 1.0;
}
